<div class="container">

  <h1 class="font-italic" style="color: gold;">List Of Countries Affected by Corona </h1>
  <div class="row" width="100%">
    <div class="column" width="50%">
      <app-country-list *ngFor="let cntryEl of countryList; let i = index"
      [cntry]="cntryEl"
      [index]="i"></app-country-list>
    </div>
    <div class="column"  width="50%" style="padding-left:10px">
    <router-outlet></router-outlet>
    </div>  
  </div>
    </div>
      
    <!-- <div class="alert alert-warning  alert-dismissible fade show">
      <a [routerLink]="[index]">
      {{cntry.Name}}</a>
    </div> -->