
<div class="container" style="background:  #1c0233 !important;">
  <div class="row" style="align-items: center;padding-left: 15%;">
      <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="footer">
      <button class="btn btn-outline-warning" style="margin: 10px; padding: 10px;font-weight: bold;" onclick="openPage('Home', this, 'red')">Home</button>
      <button class="btn btn-outline-warning" style="margin: 10px; padding: 10px;font-weight: bold;" onclick="openPage('Contact', this, 'blue')">Contact</button>
      <button class="btn btn-outline-warning" style="margin: 10px; padding: 10px;font-weight: bold;" onclick="openPage('About', this, 'orange')">About</button>
  </div>
  </div>
</div>
 
